<h2 class="font-bold mx-[5%]">Béton</h2>
<div data-gridname="resistance" data-titre="Résistance à 28j (fc28)" data-titreunite="force"></div>
<div class="grid grid-cols-[5%_40%_50%_5%]">
<div class="col-start-2">Coefficient de sécurité (𝛾b)</div>
<input type="text" placeholder="1.50" readonly style="pointer-events: none;" class="col-start-3 flex items-center mr-[80%] border border-gray-300 mx-3 p-1 rounded-md">

</div>

<h2 class="font-bold mx-[5%]">Acier</h2>
<div data-gridname="limitefe" data-titre="Limite d'élasticité (fe)" data-titreunite="force"></div>
<div class="grid grid-cols-[5%_40%_50%_5%] items-center">
<div class="col-start-2">Coefficient de sécurité (𝛾s)</div>
<input type="text" placeholder="1.15" readonly style="pointer-events: none;" class="col-start-3 flex items-center mr-[80%] border border-gray-300 mx-3 p-1 rounded-md">

</div>